body{
  background-color: antiquewhite;
}

.li{
  border: 1px solid brown;
  width: 25em;
  margin: 0.4em;
  font-size: 1.5em;
  padding-left: 0.5em;
 
}

.li>a{
  color: blue;
}

.container{
  display: flex;
  position: fixed;
  border: 5px double rgb(247, 241, 241);
  background-color: rgb(91, 9, 9);
  width: 95%;
  border-radius: 15px;
  color: white;
  font-size: 1.5em; 
  margin: -0.4em;
  margin-top: -0.7em;
  /* flex-direction: column;  
  justify-content: left; 
  flex-direction: row;
  */
}

.logo{
  margin: 1em;
}

.logoC{
  width: 50px;
  border-radius: 20px;
 
}

.init{
  margin-top: 2em;
  border: 4px double brown;
  width: 10em;
  text-align: center;

}

.nombre{
  color: aliceblue;
  margin-top: 1em;
  margin-left: 1em;
}

.nombre:hover{
  color: yellow;
}

.img{
  width: 20em;
  border: brown 2px solid;
}

pre{
  font-size: 18px;
}

h1{
  margin-top: 2em;
}
section{
  padding: 5em;
}
.titulo{
  color: red;
  font-size: 1.5em;
}

.cita{
  color: brown;
  font-style: italic;
  font-size: 1.5em;
}
.subtitulo{
  color: darkred;
}
.lema{
  color: blue;
  font-size: 1.5em;
}
.a{
  border: brown 2px solid;
  padding: 0.5em;
  margin-right: 1em;
}
.control{
  border: brown 4px double;
  padding: 1em;
}
.div{
  display: contents;
}

.var{
  background-color: peru;
  color: white;
}

.select{
  border: brown 1px solid;
  font-size: 1.2em;
  width: 90%;
  margin: 0.4em;
  padding: 0.3em;
}

summary{
  color: brown;
  font-style: italic;
  font-weight: bold;
}

/* FOOTER */
/* Estilos para el footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-content h3 {
  font-size: 1.8em;
  margin: 0.5em 0;
}

.footer-content p {
  font-size: 0.9em;
  line-height: 1.5;
}

.socials {
  list-style: none;
  padding: 0;
  margin: 1em 0;
}

.socials li {
  display: inline;
  margin: 0 10px;
}

.socials a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.footer-bottom {
  margin-top: 1em;
  font-size: 0.8em;
}

.footer-bottom a {
  color: #fff;
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2;
}
  td{
    height: 15px;
    padding: 3px;
    border: 1px solid black;
    text-align: center;
   }

.s{
background-color: yellow;
font-weight: bold;
}
.mg{
background-color:  #C0C0C0;
}
.k{
background-color: #e3e4e5;
}
.resalta{
background-color: aliceblue;
border: 1px solid brown;
margin-top: 1em;
padding: 0.5em;
}

.warning{
color: brown;
font-weight: bold;
}

.graf{
  margin-top: 4em;
}