<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="wclassth=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Document</title>
</head>
<body>
<pre>
&lt;div class="01">
&lt;h2 class="titulo">LECTIO ¿Qué dijo el Señor?&lt;/h2>
&lt;ol> 
  &lt;h2 class="subtitulo">ELEGIR EL TEXTO&lt;/h2>
&lt;p>Leer al menos estas versiones y elegir una básica, teniendo en cuenta las variantes&lt;/p>
  &lt;OL class="cita">
    &lt;LI >JERUSALÉN&lt;/LI>
    &lt;LI>LATINOAMERICANA&lt;/LI>
    &lt;LI>VERSIÓN GRIEGA (LXX- TISCHENDORF)&lt;/LI>
    &lt;LI>VERSIÓN LATINA (VULGATA)&lt;/LI>
    &lt;LI>VERSIÓN JUDÍA (KADOSH)&lt;/LI>
    &lt;LI>NVI&lt;/LI>
    &lt;LI>RV60&lt;/LI>
    &lt;li>otras&lt;/li>
  &lt;/OL> &lt;hr> &lt;hr>
  &lt;!-- *********************************************** -->
  &lt;h2 class="subtitulo">LA LECTURA DEL TEXTO&lt;/h2>
  &lt;ol>
    &lt;li>Tener presente la intencionalclassad del Autor&lt;/li>
    &lt;li>Es Evangelio, Buena Noticia: Como relacionarlo con el contexto vital de los destinatarios&lt;/li>
    &lt;li> &lt;/li>
  &lt;/ol>
  &lt;h2 class="subtitulo">TEXTOS PARALELOS&lt;/h2>
  &lt;P>&lt;/P>
  &lt;!-- *********************************************** -->

  &lt;h2 class="subtitulo">EL AUTOR&lt;/h2>
    &lt;ol class="cita">
      &lt;li>OCUPACIÓN&lt;/li>
      &lt;li>LLAMAMIENTO-CONVERSIÓN&lt;/li>
      &lt;li>MISIÒN&lt;/li>
      &lt;li>VIDA&lt;/li>
    &lt;/ol>
      &lt;!-- *********************************************** -->

  &lt;h2 class="subtitulo">EL TEXTO &lt;/h2>
    &lt;ol>
      &lt;li class="cita">PROPÓSITO DEL AUTOR&lt;/li>
      &lt;li class="cita">ORIGEN DEL TEXTO&lt;/li>
      &lt;li class="cita">FECHA DE COMPOSICIÓN&lt;/li>
      &lt;li class="cita">IDEAS CENTRALES DEL TEXTO&lt;/li>
    &lt;/ol>
      &lt;!-- *********************************************** -->

  &lt;h2 class="subtitulo">CONTEXTO DE LOS DESTINATARIOS&lt;/h2>
    &lt;ol>
      &lt;li class="cita">FACTORES INTERNOS&lt;/li>
      &lt;li class="cita">FACTORES EXTERNOS &lt;/li>
      &lt;li class="cita">QUÉ EXPECTATIVAS TENIAN&lt;/li>
    &lt;/ol>
      &lt;!-- *********************************************** -->

  &lt;h2 class="subtitulo">GÉNERO LITERARIO&lt;/h2>
      &lt;!-- *********************************************** -->

  &lt;h2 class="subtitulo">COMENTARIOS PATRÍSTICOS&lt;/h2>
      &lt;!-- *********************************************** -->

  &lt;h2 class="subtitulo">COMENTARIOS MODERNOS&lt;/h2>
      &lt;!-- *********************************************** -->

  &lt;h2 class="subtitulo">EL MENSAJE PARA LOS DESTINATARIOS&lt;/h2>
&lt;/ol>
&lt;/div>
&lt;!-- ///////////////////////////////////////////////////////// -->
&lt;div class="02">
&lt;h2 class="subtitulo">MEDITATIO ¿Qué me dice el Señor?&lt;/h2>
&lt;ol>
  &lt;li class="cita">RELACIÓN MENSAJE-CRISTIFICACIÓN&lt;/li>
  &lt;li class="cita">RELACIÓN DE LOS DESTINATARIOS Y NOSOTROS&lt;/li>
  &lt;li class="cita">QUE ME DICE A MI/NOSOTROS&lt;/li>
  &lt;li class="cita">ARMONIA CON LO ANTERIORMENTE ORADO&lt;/li>
&lt;/ol>
&lt;/div>
&lt;!-- //////////////////////////////////////////////////////// -->
&lt;div class="03">
&lt;h2 class="subtitulo">ORATIO ¿Qué respondo al Señor?&lt;/h2>
&lt;ol> 
  &lt;li class="cita">COMO SE RESPONDE HOY, CON FE O SIN ELLA&lt;/li>
  &lt;li class="cita">RESPUESTAS A TRAVÉS DEL TIEMPO: LOS SANTOS&lt;/li>
  &lt;li class="cita">RESPUESTAS DE MI ENTORNO&lt;/li>
  &lt;li class="cita">MI RESPUESTA&lt;/li>
  &lt;li class="cita">COMO HACERLA REALIDAD Y VIDA&lt;/li>
&lt;/ol>
&lt;/div>
&lt;!-- /////////////////////////////////////////////////////////// -->
&lt;div class="04">
&lt;h2 class="subtitulo">CONTEMPLATIO ¿Qué me muestra el Señor?&lt;/h2>
&lt;ol>
  &lt;li class="cita">COMO ACTUA EL SEÑOR EN CADA CIRCUNSTANCIA&lt;/li>
  &lt;li class="cita">MODELO DE CONVERSIÓN&lt;/li>
  &lt;li class="cita">COMO ME AYUDA A COMPRENDER MEJOR LOS TEXTOS &lt;/li>
  &lt;li class="cita">COMO ME AYUDA A CONOCER MEJOR AL SEÑOR&lt;/li>
  &lt;li class="cita">COMO APLICARLO A TODAS MIS REALIDADES&lt;/li>
  &lt;li class="cita">COMO COMPARTIRLO&lt;/li>
  &lt;li class="cita">CONDENSARLO EN UNA ORACIÓN: GRACIAS, PETICIÓN Y CONVERSIÓN&lt;/li>
  &lt;li class="cita">HACER UN GRAN MOMENTO DE SILENCIO, PAZ Y DISPONIBILIDAD&lt;/li>
&lt;/ol>
&lt;/div>
&lt;!-- ****************************************************************** -->

</pre>
</body>
</html>