<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>APOLOGETICA</title>
</head>
<body>
  <p id="alInicio" class="principio"></p>
    <header>
      <div class="container">
        <p class="logo"> CRISTO SALVADOR</p>
        <!-- ****************************************************** -->
        <a href="#alInicio"><img src="../media/ESCUDOCARM.png" alt="" class="logoC"></a>
        <a href="../index.html" class="nombre">INICIO </a>
      </div>
    </header> <br><br>
    <!-- ****************************************************************** -->
<h1 class="init"></h1>
  <h3 class="cita">"No aceptes como Verdad lo que no proviene del Amor, <br> ni aceptes como Amor lo que no proviene de la Verdad"
      <br>EDITH STEIN</h3>


<!-- ****************************************************************** -->

<section id="0">
  <hr>
  <h1> TEMAS</h1>
  <div>
    <ol>
     li.li*7>a[href="#$"]

    </ol>

  </div>
</section>
<!-- ****************************************************************** -->
<section id="1">
  <h2 class="subtitulo"></h2>
  <p>

  </p>

</section>
<!-- ****************************************************************** -->
<section id="2">
  <h2 class="subtitulo"></h2>
  <p>

  </p>

</section>
<!-- ****************************************************************** -->
<section id="3">
  <h2 class="subtitulo"></h2>
  <p>

  </p>

</section>
<!-- ****************************************************************** -->
<section id="4">
  <h2 class="subtitulo"></h2>
  <p>

  </p>

</section>
<!-- ****************************************************************** -->
<section id="5">
  <h2 class="subtitulo"></h2>
  <p>

  </p>

</section>
<!-- ****************************************************************** -->
<section id="6">
  <h2 class="subtitulo"></h2>
  <p>

  </p>

</section>
<!-- ****************************************************************** -->
<section id="7">
  <h2 class="subtitulo"></h2>
<p>

</p>

</section>
<!-- ****************************************************************** -->




</body>
</html>